.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  font-size: 22px;
  display: flex;
  list-style-type: none;
  margin: 20px;
}

.nav-items > ul > li {
  margin: 10px;
}

.res-card {
  text-align: center;
  padding: 5px 5px;
  width: 200px;
  margin: 5px;
  border: 1px solid black;
  background-color: #efdfcc;
}

.shimmer-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  text-align: center;
  padding: 5px 5px;
  width: 200px;
  height: 400px;
  margin: 5px;
  border: 1px solid black;
  background-color: #efdfcc;
}

/* .res-container:last-child {
  justify-content: left;
  margin: auto;
} */

.res-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.res-card :hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.img-logo {
  width: 100%;
  height: 55%;
}

.filter {
  display: flex;
  margin: 10px;
  cursor: pointer;
}

.Login {
  display: flex;
  margin: 10px;
  cursor: pointer;
}
